.App {
    width: 100vw;
    height: 100vh;
    background: #faf9fb;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.App::-webkit-scrollbar {
    display: none;
}

/* start Main Section Styles */
main {
    width: 100%;
    height: auto;
    background: #faf9fb;
    margin-top: 60px;
}

.Main-Container {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background: #faf9fb;
}

.banner {
    width: 100%;
    height: 130px;
    border-radius: 10px;
    background: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg")
        no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.delivery-pic {
    position: absolute;
    right: -60px;
    bottom: -10px;
    width: 220px;
}

.Banner-content {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.Banner-content h3 {
    font-size: 18px;
    font-weight: 600;
    color: #2a2b3c;
}

.Banner-content p,
.Banner-content span {
    font-size: 18px;
    color: #989594;
}

.Banner-content p {
    margin: 0;
}

.Banner-content a {
    background: #f8901c;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 100vw;
    color: #faf9fb;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.Banner-content a:hover {
    color: #faf9fb;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.Banner-content p span {
    color: #f8901c;
}

/* end Main Section Styles */

/* start Dish Container */
.Dish-container {
    width: 100%;
    padding: 10px 0;
}

.menu-container {
    width: 100%;
}

.row-container {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 10px 0;
    padding: 10px 0;
}

.row-container::-webkit-scrollbar {
    display: none;
}

.dish-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px 20px;
}
/* end Dish Container */

/* start rignt menu styles */
.right-menu {
    height: 100%;
    min-width: 350px;
    /* height: calc(100% - 55px); */
    background: #fff;
    /* position: fixed; */
    right: 0px;
    top: 60px;
    /* z-index: 210; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    /* transform: translate(350px); */
    right: -365px;
}

.right-menu.aclive {
    /* transform: translate(0px); */
    right: 0px;
}

/* end rignt menu styles */

/* start card container styles */
.card-container {
    width: 100%;
    min-height: 200px;
    max-height: calc(100% - 185px);
    margin-top: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card-checkout-container {
    width: 100%;
    padding: 0 10px;
    height: 100%;
}

.total-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px;
    margin: 15px 0;
}

.total-section h3,
.total-section p {
    font-size: 18px;
    font-weight: 600;
    color: #2a2b3c;
}

.total-section p {
    margin: 0;
}

.total-section p span {
    font-size: 14px;
    color: #f8901c;
}

.check-out {
    outline: none;
    border: none;
    width: 100%;
    padding: 10px 20px;
    background: #f8901c;
    border-radius: 100vw;
    color: #faf9fb;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

/* end card container styles */

/* start buttons styles */
.Button-Menu {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: #f7f7f7;
    border-radius: 25px 25px 0 0;
    z-index: 10;
}

.Button-Menu #menu {
    padding: 0px;
    display: flex;
}

.Button-Menu #menu li {
    position: relative;
    width: 60px;
    height: 60px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button-Menu #menu li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
}

.Button-Menu #menu li a .icon {
    position: relative;
    display: block;
    line-height: 70px;
    text-align: center;
    transition: 0.5s;
}

.Button-Menu #menu li a .icon .MuiSvgIcon-root {
    font-size: 26px;
    color: #373848;
}

.Button-Menu #menu li.active a .icon {
    transform: translateY(-26px);
}

.Button-Menu #menu li.active a .icon .MuiSvgIcon-root {
    color: #faf9fb;
    transition: 0.5s;
}

.Button-Menu #menu li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(60px * 0));
}

.Button-Menu #menu li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(60px * 1));
}

.Button-Menu #menu li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(60px * 2));
}

.Button-Menu #menu li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(60px * 3));
}

.Button-Menu #menu li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(60px * 4));
}

.Button-Menu #menu li:nth-child(6).active ~ .indicator {
    transform: translateX(calc(60px * 5));
}

.indicator {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #f8901c;
    border-radius: 100vh;
    top: -50%;
    border: 6px solid #faf9fb;
    transition: 0.5s;
}

.indicator::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 18px;
    height: 18px;
    background: transparent;
    border-top-right-radius: 18px;
    box-shadow: 0px -10px 0 0 #faf9fb;
}

.indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    width: 18px;
    height: 18px;
    background: transparent;
    border-top-left-radius: 18px;
    box-shadow: 0px -10px 0 0 #faf9fb;
}

/* end button styles */
